matrix:
   include:
    #######################
    #    Test Matrix      #
    #######################
     - language: node_js
       dist: xenial
       node_js:
         - "10"
       install:
        - npm i --save
        - npm run generate
       script:
         - npm run precommit
    #######################
    #    Deploy Matrix    #
    #######################
     - language: node_js
       dist: xenial
       node_js:
         - "10"
       install:
        - wget -qO - https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz | tar -xzvf -
        - chmod -R 755 openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit/oc
        - cp -vRf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit/oc /usr/bin
        - npm i --save
        - npm run generate
       script:
         - npm run precommit
       after_success:
         - oc login -u $OPENSHIFT_USER -p $OPENSHIFT_PASSWORD
         - oc project -u $OPENSHIFT_NAMESPACE
         - oc new-app .



notifications:
  email: false
