*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: Roboto -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
}

.content-container {
  width: 70%;
  margin: 0 auto;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.no-deco {
  color: initial !important;
  text-decoration: none !important;
}

.ratio-16-9 {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 56.25%;
  }

  & > * {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.title-text {
  font-family: 'Always In My Heart', cursive;
  font-size: 2rem;
  overflow: visible !important;
  padding-top: 0.25rem;
}


@media screen and (max-width: 960px) {
  .content-container {
    width: 100%;
  }
}
