// Import Vuetify styling
@import '~vuetify/src/stylus/settings/_variables'

$border-radius = 8px;
$body-font-family = 'Noto Sans JP', Roboto, sans-serif;

$button-border-radius = $border-radius;
$sheet-border-radius = $border-radius;
$card-border-radius = $border-radius;

$container-max-widths = {
  md: $grid-breakpoints.md
  lg: 1260
  xl: 1260
}

@import '~vuetify/src/stylus/components/_lists';

*
  scrollbar-width: thin !important;
  scrollbar-color: #FFA000 rgba(0, 0, 0, 0.12) !important;

.hint
  color: rgba(0, 0, 0, 0.54);

// Vuetify style overrides
.v-menu__content
  border-radius: $border-radius !important;

.v-text-field__details,
.v-input .v-label
  overflow: visible !important

.v-avatar
  flex-shrink: 0;

@require '~vuetify/src/stylus/main.styl'
