// Import Vuetify styling
@import '~vuetify/src/stylus/settings/_variables'

$border-radius = 8px;
$body-font-family = 'Noto Sans JP', Roboto, sans-serif;
$button-border-radius = $border-radius;

@import '~vuetify/src/stylus/components/_lists';

*
  scrollbar-width: thin !important;
  scrollbar-color: #FFA000 rgba(0, 0, 0, 0.12) !important;

// .v-list,
.v-menu__content
  border-radius: $border-radius !important;

@require '~vuetify/src/stylus/main.styl'
